<center><h1>Gunadi_Eben_HW3</h1></center>
<br>
<br>

Name: Eben Gunadi
<br>
Github Username: egunadi
<br>
USC ID: 3976793880

## 1. Time Series Classification Part 1: Feature Creation/Extraction

### (a) Download Data

Package imports

In [2]:
import pandas as pd
import numpy as np
import bootstrapped.bootstrap as bs
import bootstrapped.stats_functions as bs_stats

Get the AReM Data Set

In [3]:
bending1_dataset1_filepath = '../data/AReM/bending1/dataset1.csv'
bending1_dataset2_filepath = '../data/AReM/bending1/dataset2.csv'
bending1_dataset3_filepath = '../data/AReM/bending1/dataset3.csv'
bending1_dataset4_filepath = '../data/AReM/bending1/dataset4.csv'
bending1_dataset5_filepath = '../data/AReM/bending1/dataset5.csv'
bending1_dataset6_filepath = '../data/AReM/bending1/dataset6.csv'
bending1_dataset7_filepath = '../data/AReM/bending1/dataset7.csv'

bending2_dataset1_filepath = '../data/AReM/bending2/dataset1.csv'
bending2_dataset2_filepath = '../data/AReM/bending2/dataset2.csv'
bending2_dataset3_filepath = '../data/AReM/bending2/dataset3.csv'
bending2_dataset4_filepath = '../data/AReM/bending2/dataset4.csv'
bending2_dataset5_filepath = '../data/AReM/bending2/dataset5.csv'
bending2_dataset6_filepath = '../data/AReM/bending2/dataset6.csv'

cycling_dataset1_filepath = '../data/AReM/cycling/dataset1.csv'
cycling_dataset2_filepath = '../data/AReM/cycling/dataset2.csv'
cycling_dataset3_filepath = '../data/AReM/cycling/dataset3.csv'
cycling_dataset4_filepath = '../data/AReM/cycling/dataset4.csv'
cycling_dataset5_filepath = '../data/AReM/cycling/dataset5.csv'
cycling_dataset6_filepath = '../data/AReM/cycling/dataset6.csv'
cycling_dataset7_filepath = '../data/AReM/cycling/dataset7.csv'
cycling_dataset8_filepath = '../data/AReM/cycling/dataset8.csv'
cycling_dataset9_filepath = '../data/AReM/cycling/dataset9.csv'
cycling_dataset10_filepath = '../data/AReM/cycling/dataset10.csv'
cycling_dataset11_filepath = '../data/AReM/cycling/dataset11.csv'
cycling_dataset12_filepath = '../data/AReM/cycling/dataset12.csv'
cycling_dataset13_filepath = '../data/AReM/cycling/dataset13.csv'
cycling_dataset14_filepath = '../data/AReM/cycling/dataset14.csv'
cycling_dataset15_filepath = '../data/AReM/cycling/dataset15.csv'

lying_dataset1_filepath = '../data/AReM/lying/dataset1.csv'
lying_dataset2_filepath = '../data/AReM/lying/dataset2.csv'
lying_dataset3_filepath = '../data/AReM/lying/dataset3.csv'
lying_dataset4_filepath = '../data/AReM/lying/dataset4.csv'
lying_dataset5_filepath = '../data/AReM/lying/dataset5.csv'
lying_dataset6_filepath = '../data/AReM/lying/dataset6.csv'
lying_dataset7_filepath = '../data/AReM/lying/dataset7.csv'
lying_dataset8_filepath = '../data/AReM/lying/dataset8.csv'
lying_dataset9_filepath = '../data/AReM/lying/dataset9.csv'
lying_dataset10_filepath = '../data/AReM/lying/dataset10.csv'
lying_dataset11_filepath = '../data/AReM/lying/dataset11.csv'
lying_dataset12_filepath = '../data/AReM/lying/dataset12.csv'
lying_dataset13_filepath = '../data/AReM/lying/dataset13.csv'
lying_dataset14_filepath = '../data/AReM/lying/dataset14.csv'
lying_dataset15_filepath = '../data/AReM/lying/dataset15.csv'

sitting_dataset1_filepath = '../data/AReM/sitting/dataset1.csv'
sitting_dataset2_filepath = '../data/AReM/sitting/dataset2.csv'
sitting_dataset3_filepath = '../data/AReM/sitting/dataset3.csv'
sitting_dataset4_filepath = '../data/AReM/sitting/dataset4.csv'
sitting_dataset5_filepath = '../data/AReM/sitting/dataset5.csv'
sitting_dataset6_filepath = '../data/AReM/sitting/dataset6.csv'
sitting_dataset7_filepath = '../data/AReM/sitting/dataset7.csv'
sitting_dataset8_filepath = '../data/AReM/sitting/dataset8.csv'
sitting_dataset9_filepath = '../data/AReM/sitting/dataset9.csv'
sitting_dataset10_filepath = '../data/AReM/sitting/dataset10.csv'
sitting_dataset11_filepath = '../data/AReM/sitting/dataset11.csv'
sitting_dataset12_filepath = '../data/AReM/sitting/dataset12.csv'
sitting_dataset13_filepath = '../data/AReM/sitting/dataset13.csv'
sitting_dataset14_filepath = '../data/AReM/sitting/dataset14.csv'
sitting_dataset15_filepath = '../data/AReM/sitting/dataset15.csv'

standing_dataset1_filepath = '../data/AReM/standing/dataset1.csv'
standing_dataset2_filepath = '../data/AReM/standing/dataset2.csv'
standing_dataset3_filepath = '../data/AReM/standing/dataset3.csv'
standing_dataset4_filepath = '../data/AReM/standing/dataset4.csv'
standing_dataset5_filepath = '../data/AReM/standing/dataset5.csv'
standing_dataset6_filepath = '../data/AReM/standing/dataset6.csv'
standing_dataset7_filepath = '../data/AReM/standing/dataset7.csv'
standing_dataset8_filepath = '../data/AReM/standing/dataset8.csv'
standing_dataset9_filepath = '../data/AReM/standing/dataset9.csv'
standing_dataset10_filepath = '../data/AReM/standing/dataset10.csv'
standing_dataset11_filepath = '../data/AReM/standing/dataset11.csv'
standing_dataset12_filepath = '../data/AReM/standing/dataset12.csv'
standing_dataset13_filepath = '../data/AReM/standing/dataset13.csv'
standing_dataset14_filepath = '../data/AReM/standing/dataset14.csv'
standing_dataset15_filepath = '../data/AReM/standing/dataset15.csv'

walking_dataset1_filepath = '../data/AReM/walking/dataset1.csv'
walking_dataset2_filepath = '../data/AReM/walking/dataset2.csv'
walking_dataset3_filepath = '../data/AReM/walking/dataset3.csv'
walking_dataset4_filepath = '../data/AReM/walking/dataset4.csv'
walking_dataset5_filepath = '../data/AReM/walking/dataset5.csv'
walking_dataset6_filepath = '../data/AReM/walking/dataset6.csv'
walking_dataset7_filepath = '../data/AReM/walking/dataset7.csv'
walking_dataset8_filepath = '../data/AReM/walking/dataset8.csv'
walking_dataset9_filepath = '../data/AReM/walking/dataset9.csv'
walking_dataset10_filepath = '../data/AReM/walking/dataset10.csv'
walking_dataset11_filepath = '../data/AReM/walking/dataset11.csv'
walking_dataset12_filepath = '../data/AReM/walking/dataset12.csv'
walking_dataset13_filepath = '../data/AReM/walking/dataset13.csv'
walking_dataset14_filepath = '../data/AReM/walking/dataset14.csv'
walking_dataset15_filepath = '../data/AReM/walking/dataset15.csv'

In [4]:
bending1_dataset1_df = pd.read_csv(bending1_dataset1_filepath, delimiter=',', encoding='utf-8')
bending1_dataset2_df = pd.read_csv(bending1_dataset2_filepath, delimiter=',', encoding='utf-8')
bending1_dataset3_df = pd.read_csv(bending1_dataset3_filepath, delimiter=',', encoding='utf-8')
bending1_dataset4_df = pd.read_csv(bending1_dataset4_filepath, delimiter=',', encoding='utf-8')
bending1_dataset5_df = pd.read_csv(bending1_dataset5_filepath, delimiter=',', encoding='utf-8')
bending1_dataset6_df = pd.read_csv(bending1_dataset6_filepath, delimiter=',', encoding='utf-8')
bending1_dataset7_df = pd.read_csv(bending1_dataset7_filepath, delimiter=',', encoding='utf-8')

bending2_dataset1_df = pd.read_csv(bending2_dataset1_filepath, delimiter=',', encoding='utf-8')
bending2_dataset2_df = pd.read_csv(bending2_dataset2_filepath, delimiter=',', encoding='utf-8')
bending2_dataset3_df = pd.read_csv(bending2_dataset3_filepath, delimiter=',', encoding='utf-8')
bending2_dataset4_df = pd.read_csv(bending2_dataset4_filepath, delimiter=',', encoding='utf-8')
bending2_dataset5_df = pd.read_csv(bending2_dataset5_filepath, delimiter=',', encoding='utf-8')
bending2_dataset6_df = pd.read_csv(bending2_dataset6_filepath, delimiter=',', encoding='utf-8')

cycling_dataset1_df = pd.read_csv(cycling_dataset1_filepath, delimiter=',', encoding='utf-8')
cycling_dataset2_df = pd.read_csv(cycling_dataset2_filepath, delimiter=',', encoding='utf-8')
cycling_dataset3_df = pd.read_csv(cycling_dataset3_filepath, delimiter=',', encoding='utf-8')
cycling_dataset4_df = pd.read_csv(cycling_dataset4_filepath, delimiter=',', encoding='utf-8')
cycling_dataset5_df = pd.read_csv(cycling_dataset5_filepath, delimiter=',', encoding='utf-8')
cycling_dataset6_df = pd.read_csv(cycling_dataset6_filepath, delimiter=',', encoding='utf-8')
cycling_dataset7_df = pd.read_csv(cycling_dataset7_filepath, delimiter=',', encoding='utf-8')
cycling_dataset8_df = pd.read_csv(cycling_dataset8_filepath, delimiter=',', encoding='utf-8')
cycling_dataset9_df = pd.read_csv(cycling_dataset9_filepath, delimiter=',', encoding='utf-8')
cycling_dataset10_df = pd.read_csv(cycling_dataset10_filepath, delimiter=',', encoding='utf-8')
cycling_dataset11_df = pd.read_csv(cycling_dataset11_filepath, delimiter=',', encoding='utf-8')
cycling_dataset12_df = pd.read_csv(cycling_dataset12_filepath, delimiter=',', encoding='utf-8')
cycling_dataset13_df = pd.read_csv(cycling_dataset13_filepath, delimiter=',', encoding='utf-8')
cycling_dataset14_df = pd.read_csv(cycling_dataset14_filepath, delimiter=',', encoding='utf-8')
cycling_dataset15_df = pd.read_csv(cycling_dataset15_filepath, delimiter=',', encoding='utf-8')

lying_dataset1_df = pd.read_csv(lying_dataset1_filepath, delimiter=',', encoding='utf-8')
lying_dataset2_df = pd.read_csv(lying_dataset2_filepath, delimiter=',', encoding='utf-8')
lying_dataset3_df = pd.read_csv(lying_dataset3_filepath, delimiter=',', encoding='utf-8')
lying_dataset4_df = pd.read_csv(lying_dataset4_filepath, delimiter=',', encoding='utf-8')
lying_dataset5_df = pd.read_csv(lying_dataset5_filepath, delimiter=',', encoding='utf-8')
lying_dataset6_df = pd.read_csv(lying_dataset6_filepath, delimiter=',', encoding='utf-8')
lying_dataset7_df = pd.read_csv(lying_dataset7_filepath, delimiter=',', encoding='utf-8')
lying_dataset8_df = pd.read_csv(lying_dataset8_filepath, delimiter=',', encoding='utf-8')
lying_dataset9_df = pd.read_csv(lying_dataset9_filepath, delimiter=',', encoding='utf-8')
lying_dataset10_df = pd.read_csv(lying_dataset10_filepath, delimiter=',', encoding='utf-8')
lying_dataset11_df = pd.read_csv(lying_dataset11_filepath, delimiter=',', encoding='utf-8')
lying_dataset12_df = pd.read_csv(lying_dataset12_filepath, delimiter=',', encoding='utf-8')
lying_dataset13_df = pd.read_csv(lying_dataset13_filepath, delimiter=',', encoding='utf-8')
lying_dataset14_df = pd.read_csv(lying_dataset14_filepath, delimiter=',', encoding='utf-8')
lying_dataset15_df = pd.read_csv(lying_dataset15_filepath, delimiter=',', encoding='utf-8')

sitting_dataset1_df = pd.read_csv(sitting_dataset1_filepath, delimiter=',', encoding='utf-8')
sitting_dataset2_df = pd.read_csv(sitting_dataset2_filepath, delimiter=',', encoding='utf-8')
sitting_dataset3_df = pd.read_csv(sitting_dataset3_filepath, delimiter=',', encoding='utf-8')
sitting_dataset4_df = pd.read_csv(sitting_dataset4_filepath, delimiter=',', encoding='utf-8')
sitting_dataset5_df = pd.read_csv(sitting_dataset5_filepath, delimiter=',', encoding='utf-8')
sitting_dataset6_df = pd.read_csv(sitting_dataset6_filepath, delimiter=',', encoding='utf-8')
sitting_dataset7_df = pd.read_csv(sitting_dataset7_filepath, delimiter=',', encoding='utf-8')
sitting_dataset8_df = pd.read_csv(sitting_dataset8_filepath, delimiter=',', encoding='utf-8')
sitting_dataset9_df = pd.read_csv(sitting_dataset9_filepath, delimiter=',', encoding='utf-8')
sitting_dataset10_df = pd.read_csv(sitting_dataset10_filepath, delimiter=',', encoding='utf-8')
sitting_dataset11_df = pd.read_csv(sitting_dataset11_filepath, delimiter=',', encoding='utf-8')
sitting_dataset12_df = pd.read_csv(sitting_dataset12_filepath, delimiter=',', encoding='utf-8')
sitting_dataset13_df = pd.read_csv(sitting_dataset13_filepath, delimiter=',', encoding='utf-8')
sitting_dataset14_df = pd.read_csv(sitting_dataset14_filepath, delimiter=',', encoding='utf-8')
sitting_dataset15_df = pd.read_csv(sitting_dataset15_filepath, delimiter=',', encoding='utf-8')

standing_dataset1_df = pd.read_csv(standing_dataset1_filepath, delimiter=',', encoding='utf-8')
standing_dataset2_df = pd.read_csv(standing_dataset2_filepath, delimiter=',', encoding='utf-8')
standing_dataset3_df = pd.read_csv(standing_dataset3_filepath, delimiter=',', encoding='utf-8')
standing_dataset4_df = pd.read_csv(standing_dataset4_filepath, delimiter=',', encoding='utf-8')
standing_dataset5_df = pd.read_csv(standing_dataset5_filepath, delimiter=',', encoding='utf-8')
standing_dataset6_df = pd.read_csv(standing_dataset6_filepath, delimiter=',', encoding='utf-8')
standing_dataset7_df = pd.read_csv(standing_dataset7_filepath, delimiter=',', encoding='utf-8')
standing_dataset8_df = pd.read_csv(standing_dataset8_filepath, delimiter=',', encoding='utf-8')
standing_dataset9_df = pd.read_csv(standing_dataset9_filepath, delimiter=',', encoding='utf-8')
standing_dataset10_df = pd.read_csv(standing_dataset10_filepath, delimiter=',', encoding='utf-8')
standing_dataset11_df = pd.read_csv(standing_dataset11_filepath, delimiter=',', encoding='utf-8')
standing_dataset12_df = pd.read_csv(standing_dataset12_filepath, delimiter=',', encoding='utf-8')
standing_dataset13_df = pd.read_csv(standing_dataset13_filepath, delimiter=',', encoding='utf-8')
standing_dataset14_df = pd.read_csv(standing_dataset14_filepath, delimiter=',', encoding='utf-8')
standing_dataset15_df = pd.read_csv(standing_dataset15_filepath, delimiter=',', encoding='utf-8')

walking_dataset1_df = pd.read_csv(walking_dataset1_filepath, delimiter=',', encoding='utf-8')
walking_dataset2_df = pd.read_csv(walking_dataset2_filepath, delimiter=',', encoding='utf-8')
walking_dataset3_df = pd.read_csv(walking_dataset3_filepath, delimiter=',', encoding='utf-8')
walking_dataset4_df = pd.read_csv(walking_dataset4_filepath, delimiter=',', encoding='utf-8')
walking_dataset5_df = pd.read_csv(walking_dataset5_filepath, delimiter=',', encoding='utf-8')
walking_dataset6_df = pd.read_csv(walking_dataset6_filepath, delimiter=',', encoding='utf-8')
walking_dataset7_df = pd.read_csv(walking_dataset7_filepath, delimiter=',', encoding='utf-8')
walking_dataset8_df = pd.read_csv(walking_dataset8_filepath, delimiter=',', encoding='utf-8')
walking_dataset9_df = pd.read_csv(walking_dataset9_filepath, delimiter=',', encoding='utf-8')
walking_dataset10_df = pd.read_csv(walking_dataset10_filepath, delimiter=',', encoding='utf-8')
walking_dataset11_df = pd.read_csv(walking_dataset11_filepath, delimiter=',', encoding='utf-8')
walking_dataset12_df = pd.read_csv(walking_dataset12_filepath, delimiter=',', encoding='utf-8')
walking_dataset13_df = pd.read_csv(walking_dataset13_filepath, delimiter=',', encoding='utf-8')
walking_dataset14_df = pd.read_csv(walking_dataset14_filepath, delimiter=',', encoding='utf-8')
walking_dataset15_df = pd.read_csv(walking_dataset15_filepath, delimiter=',', encoding='utf-8')

### (b) Test and Train Data

In [5]:
# Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1, 2, and 3 in other folders as test data and other datasets as train data.

bending1_train_df = pd.concat([bending1_dataset3_df, bending1_dataset4_df, bending1_dataset5_df, 
                               bending1_dataset6_df, bending1_dataset7_df], ignore_index=True)
bending1_test_df = pd.concat([bending1_dataset1_df, bending1_dataset2_df], ignore_index=True)

bending2_train_df = pd.concat([bending2_dataset3_df, bending2_dataset4_df, bending2_dataset5_df, 
                               bending2_dataset6_df], ignore_index=True)
bending2_test_df = pd.concat([bending2_dataset1_df, bending2_dataset2_df], ignore_index=True)

cycling_train_df = pd.concat([cycling_dataset4_df, cycling_dataset5_df, cycling_dataset6_df, 
                              cycling_dataset7_df, cycling_dataset8_df, cycling_dataset9_df, 
                              cycling_dataset10_df, cycling_dataset11_df, cycling_dataset12_df, 
                              cycling_dataset13_df, cycling_dataset14_df, cycling_dataset15_df], ignore_index=True)
cycling_test_df = pd.concat([cycling_dataset1_df, cycling_dataset2_df, cycling_dataset3_df], ignore_index=True)

lying_train_df = pd.concat([lying_dataset4_df, lying_dataset5_df, lying_dataset6_df, 
                            lying_dataset7_df, lying_dataset8_df, lying_dataset9_df, 
                            lying_dataset10_df, lying_dataset11_df, lying_dataset12_df, 
                            lying_dataset13_df, lying_dataset14_df, lying_dataset15_df], ignore_index=True)
lying_test_df = pd.concat([lying_dataset1_df, lying_dataset2_df, lying_dataset3_df], ignore_index=True)

sitting_train_df = pd.concat([sitting_dataset4_df, sitting_dataset5_df, sitting_dataset6_df, 
                              sitting_dataset7_df, sitting_dataset8_df, sitting_dataset9_df, 
                              sitting_dataset10_df, sitting_dataset11_df, sitting_dataset12_df, 
                              sitting_dataset13_df, sitting_dataset14_df, sitting_dataset15_df], ignore_index=True)
sitting_test_df = pd.concat([sitting_dataset1_df, sitting_dataset2_df, sitting_dataset3_df], ignore_index=True)

standing_train_df = pd.concat([standing_dataset4_df, standing_dataset5_df, standing_dataset6_df, 
                               standing_dataset7_df, standing_dataset8_df, standing_dataset9_df, 
                               standing_dataset10_df, standing_dataset11_df, standing_dataset12_df, 
                               standing_dataset13_df, standing_dataset14_df, standing_dataset15_df], ignore_index=True)
standing_test_df = pd.concat([standing_dataset1_df, standing_dataset2_df, standing_dataset3_df], ignore_index=True)

walking_train_df = pd.concat([walking_dataset4_df, walking_dataset5_df, walking_dataset6_df, 
                              walking_dataset7_df, walking_dataset8_df, walking_dataset9_df, 
                              walking_dataset10_df, walking_dataset11_df, walking_dataset12_df, 
                              walking_dataset13_df, walking_dataset14_df, walking_dataset15_df], ignore_index=True)
walking_test_df = pd.concat([walking_dataset1_df, walking_dataset2_df, walking_dataset3_df], ignore_index=True)

### (c) Feature Extraction

#### i. Research

Research what types of time-domain features are usually used in time series classification and list them (examples are minimum, maximum, mean, etc).

> Time series classification usually leverage time-domain features such as:
> 
> - Mean
> - Standard Deviation
> - Median
> - Minimum/Maximum
> - First/Third Quartiles

#### ii. Extraction

In [6]:
full_df_list = [bending1_dataset1_df, bending1_dataset2_df, bending1_dataset3_df, 
                bending1_dataset4_df, bending1_dataset5_df, bending1_dataset6_df, bending1_dataset7_df,
                
                bending2_dataset1_df, bending2_dataset2_df, bending2_dataset3_df, bending2_dataset4_df, bending2_dataset5_df, bending2_dataset6_df,
                
                cycling_dataset1_df, cycling_dataset2_df, cycling_dataset3_df, cycling_dataset4_df, cycling_dataset5_df, cycling_dataset6_df, cycling_dataset7_df, cycling_dataset8_df, cycling_dataset9_df, cycling_dataset10_df, cycling_dataset11_df, cycling_dataset12_df, cycling_dataset13_df, cycling_dataset14_df, cycling_dataset15_df,
                
                lying_dataset1_df, lying_dataset2_df, lying_dataset3_df, lying_dataset4_df, lying_dataset5_df, lying_dataset6_df, lying_dataset7_df, lying_dataset8_df, lying_dataset9_df, lying_dataset10_df, lying_dataset11_df, lying_dataset12_df, lying_dataset13_df, lying_dataset14_df, lying_dataset15_df,
                
                sitting_dataset1_df, sitting_dataset2_df, sitting_dataset3_df, sitting_dataset4_df, sitting_dataset5_df, sitting_dataset6_df, sitting_dataset7_df, sitting_dataset8_df, sitting_dataset9_df, sitting_dataset10_df, sitting_dataset11_df, sitting_dataset12_df, sitting_dataset13_df, sitting_dataset14_df, sitting_dataset15_df,
                
                standing_dataset1_df, standing_dataset2_df, standing_dataset3_df, standing_dataset4_df, standing_dataset5_df, standing_dataset6_df, standing_dataset7_df, standing_dataset8_df, standing_dataset9_df, standing_dataset10_df, standing_dataset11_df, standing_dataset12_df, standing_dataset13_df, standing_dataset14_df, standing_dataset15_df,
                
                walking_dataset1_df, walking_dataset2_df, walking_dataset3_df, walking_dataset4_df, walking_dataset5_df, walking_dataset6_df, walking_dataset7_df, walking_dataset8_df, walking_dataset9_df, walking_dataset10_df, walking_dataset11_df, walking_dataset12_df, walking_dataset13_df, walking_dataset14_df, walking_dataset15_df]

In [7]:
features_df = pd.DataFrame(columns=['instance', 
                                    'min1', 'max1', 'mean1', 'median1', 'std1', '1st quartile1', '3rd quartile1', 
                                    'min2', 'max2', 'mean2', 'median2', 'std2', '1st quartile2', '3rd quartile2', 
                                    'min3', 'max3', 'mean3', 'median3', 'std3', '1st quartile3', '3rd quartile3', 
                                    'min4', 'max4', 'mean4', 'median4', 'std4', '1st quartile4', '3rd quartile4', 
                                    'min5', 'max5', 'mean5', 'median5', 'std5', '1st quartile5', '3rd quartile5', 
                                    'min6', 'max6', 'mean6', 'median6', 'std6', '1st quartile6', '3rd quartile6'])

instance_counter = 1
for df in full_df_list:
    describe_df = df.describe()

    instance_dict = {  'instance': instance_counter,
                                  
                        'min1': describe_df['avg_rss12']['min'], 'max1': describe_df['avg_rss12']['max'], 'mean1': describe_df['avg_rss12']['mean'], 'median1': describe_df['avg_rss12']['50%'], 'std1': describe_df['avg_rss12']['std'], '1st quartile1': describe_df['avg_rss12']['25%'], '3rd quartile1': describe_df['avg_rss12']['75%'],

                        'min2': describe_df['var_rss12']['min'], 'max2': describe_df['var_rss12']['max'], 'mean2': describe_df['var_rss12']['mean'], 'median2': describe_df['var_rss12']['50%'], 'std2': describe_df['var_rss12']['std'], '1st quartile2': describe_df['var_rss12']['25%'], '3rd quartile2': describe_df['var_rss12']['75%'],

                        'min3': describe_df['avg_rss13']['min'], 'max3': describe_df['avg_rss13']['max'], 'mean3': describe_df['avg_rss13']['mean'], 'median3': describe_df['avg_rss13']['50%'], 'std3': describe_df['avg_rss13']['std'], '1st quartile3': describe_df['avg_rss13']['25%'], '3rd quartile3': describe_df['avg_rss13']['75%'],

                        'min4': describe_df['var_rss13']['min'], 'max4': describe_df['var_rss13']['max'], 'mean4': describe_df['var_rss13']['mean'], 'median4': describe_df['var_rss13']['50%'], 'std4': describe_df['var_rss13']['std'], '1st quartile4': describe_df['var_rss13']['25%'], '3rd quartile4': describe_df['var_rss13']['75%'],

                        'min5': describe_df['avg_rss23']['min'], 'max5': describe_df['avg_rss23']['max'], 'mean5': describe_df['avg_rss23']['mean'], 'median5': describe_df['avg_rss23']['50%'], 'std5': describe_df['avg_rss23']['std'], '1st quartile5': describe_df['avg_rss23']['25%'], '3rd quartile5': describe_df['avg_rss23']['75%'],

                        'min6': describe_df['var_rss23']['min'], 'max6': describe_df['var_rss23']['max'], 'mean6': describe_df['var_rss23']['mean'], 'median6': describe_df['var_rss23']['50%'], 'std6': describe_df['var_rss23']['std'], '1st quartile6': describe_df['var_rss23']['25%'], '3rd quartile6': describe_df['var_rss23']['75%']    }

    features_df = pd.concat([features_df, pd.DataFrame([instance_dict])], ignore_index=True)

    instance_counter += 1

/var/folders/h1/r_7yspw94w77hrsrcwzwy75m0000gn/T/ipykernel_7694/3537725272.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  features_df = pd.concat([features_df, pd.DataFrame([instance_dict])], ignore_index=True)

In [8]:
features_df.shape

(88, 43)

In [9]:
features_df.head()

,instance,min1,max1,mean1,median1,std1,1st quartile1,3rd quartile1,min2,max2,...,std5,1st quartile5,3rd quartile5,min6,max6,mean6,median6,std6,1st quartile6,3rd quartile6
0,1,37.25,45.00,40.624792,40.50,1.476967,39.25,42.00,0.0,1.30,...,2.188449,33.0000,36.00,0.0,1.92,0.570583,0.43,0.582915,0.0,1.30
1,2,38.00,45.67,42.812812,42.50,1.435550,42.00,43.67,0.0,1.22,...,1.995255,32.0000,34.50,0.0,3.11,0.571083,0.43,0.601010,0.0,1.30
2,3,35.00,47.40,43.954500,44.33,1.558835,43.00,45.00,0.0,1.70,...,1.999604,35.3625,36.50,0.0,1.79,0.493292,0.43,0.513506,0.0,0.94
3,4,33.00,47.75,42.179812,43.50,3.670666,39.15,45.00,0.0,3.00,...,3.849448,30.4575,36.33,0.0,2.18,0.613521,0.50,0.524317,0.0,1.00
4,5,33.00,45.75,41.678063,41.75,2.243490,41.33,42.75,0.0,2.83,...,2.411026,28.4575,31.25,0.0,1.79,0.383292,0.43,0.389164,0.0,0.50

#### iii. Standard Deviation

In [10]:
# Estimate the standard deviation of each of the time-domain features you extracted from the data. Then, use Python’s bootstrapped or any other method to build a 90% bootsrap confidence interval for the standard deviation of each feature.

std_devs = pd.DataFrame(columns=['feature', 'std_dev', 'lower_ci', 'upper_ci'])
for column in features_df.columns:
    if column != 'instance':
        # Identify and handle missing values
        data_cleaned = features_df[column].dropna()

        # Convert the cleaned data to a Numpy array
        data_array = data_cleaned.values

        # Bootstrap method to estimate confidence intervals for each feature's standard deviation
        bootstrapped_std_dev = bs.bootstrap(data_array, stat_func=bs_stats.std, alpha=0.1, num_iterations=1000)

        # Append the results to the DataFrame
        std_dev_dict = {'feature': column, 'std_dev': bootstrapped_std_dev.value, 'lower_ci': bootstrapped_std_dev.lower_bound, 'upper_ci': bootstrapped_std_dev.upper_bound}

        std_devs = pd.concat([std_devs, pd.DataFrame([std_dev_dict])], ignore_index=True)

std_devs

/var/folders/h1/r_7yspw94w77hrsrcwzwy75m0000gn/T/ipykernel_7694/4206994341.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  std_devs = pd.concat([std_devs, pd.DataFrame([std_dev_dict])], ignore_index=True)

          feature   std_dev  lower_ci   upper_ci
0            min1  9.568541  8.357328  10.880013
1            max1  4.183493  3.291839   5.246500
2           mean1  5.246019  4.691703   5.839980
3         median1  5.355577  4.744457   6.022398
4            std1  1.761073  1.586866   1.978012
5   1st quartile1  6.092527  5.568175   6.702888
6   3rd quartile1  5.002031  4.281569   5.792559
7            min2  0.000000  0.000000   0.000000
8            max2  5.030493  4.675973   5.439284
9           mean2  1.568813  1.432639   1.748241
10        median2  1.405398  1.281549   1.578147
11           std2  0.880769  0.825998   0.957125
12  1st quartile2  0.942967  0.854163   1.053976
13  3rd quartile2  2.119053  1.947779   2.348643
14           min3  2.937487  2.788638   3.122516
15           max3  4.792067  4.192050   5.536233
16          mean3  3.953833  3.428922   4.566573
17        median3  3.986577  3.463057   4.571303
18           std3  0.946524  0.758509   1.124345
19  1st quartile3  4.160032  3.641606   4.755767
20  3rd quartile3  4.129511  3.617842   4.766586
21           min4  0.000000  0.000000   0.000000
22           max4  2.169234  1.995133   2.378210
23          mean4  1.161534  1.107866   1.254389
24        median4  1.141971  1.088489   1.232312
25           std4  0.455969  0.428601   0.494866
26  1st quartile4  0.840050  0.797030   0.909276
27  3rd quartile4  1.546271  1.473211   1.674842
28           min5  6.085924  4.693364   7.736302
29           max5  5.740079  4.891335   6.710276
30          mean5  5.671149  4.597923   7.020662
31        median5  5.810683  4.750432   7.171795
32           std5  1.006523  0.788242   1.224395
33  1st quartile5  6.086856  5.001668   7.378900
34  3rd quartile5  5.531486  4.449894   6.668852
35           min6  0.045835  0.013210   0.091670
36           max6  2.518912  2.282149   2.775488
37          mean6  1.150552  1.088193   1.236655
38        median6  1.083576  1.027011   1.181497
39           std6  0.513989  0.486902   0.554316
40  1st quartile6  0.757152  0.706320   0.825449
41  3rd quartile6  1.518071  1.441613   1.635085

#### iv. Select Features

Use your judgement to select the three most important time-domain features (one option may be min, mean, and max).

> For me, the three most important time-domain features are:
> 
> - Mean
> - Standard Deviation
> - Median

## 2. ISLR 3.7.4

I collect a set of data (n = 100 observations) containing a single predictor and a quantitative response. I then fit a linear regression model to the data, as well as a separate cubic regression, i.e. Y = β0 + β1X + β2X2 + β3X3 + ϵ.

### (a) Linear Train

Suppose that the true relationship between X and Y is linear, i.e. Y = β0 + β1X + ϵ. Consider the training residual sum of squares (RSS) for the linear regression, and also the training RSS for the cubic regression. Would we expect one to be lower than the other, would we expect them to be the same, or is there not enough information to tell? Justify your answer.

> For the training RSS, I would expect cubic regression to be lower. Even when the true relationship is linear there is still irreducible error, which the cubic regression can provide a better fit for (more variance).

### (b) Linear Test

Answer (a) using test rather than training RSS.

> For the test RSS, I would expect linear regression to be lower since it did not overfit the data during training (more bias).

### (c) Not Linear Train

Suppose that the true relationship between X and Y is not linear, but we don’t know how far it is from linear. Consider the training RSS for the linear regression, and also the training RSS for the cubic regression. Would we expect one to be lower than the other, would we expect them to be the same, or is there not enough information to tell? Justify your answer.

> For the training RSS, I would still expect cubic regression to be lower. Regardless of the true relationship, the cubic regression can follow the points more closely and provide a better fit (more variance).

### (d) Not Linear Testing

Answer (c) using test rather than training RSS.

> For the test RSS, there is not enough information to tell which is lower since we don't know how far the true relationship is from linear: if closer to linear I would expect the lower one to be linear regression, but otherwise it'd be cubic regression.

## 3. ISLR 3.7.3 - Extra Practice

Suppose we have a data set with five predictors, X1 = GPA, X2 = IQ, X3 = Level (1 for College and 0 for High School), X4 = Interaction between GPA and IQ, and X5 = Interaction between GPA and Level. The response is starting salary after graduation (in thousands of dollars). Suppose we use least squares to fit the model, and get ˆβ0 = 50, ˆβ1 = 20, ˆβ2 = 0.07, ˆβ3 = 35, ˆβ4 = 0.01, ˆβ5 = −10.

### (a) Which answer is correct, and why?

- i. For a fixed value of IQ and GPA, high school graduates earn more, on average, than college graduates.
- ii. For a fixed value of IQ and GPA, college graduates earn more, on average, than high school graduates.
- iii. For a fixed value of IQ and GPA, high school graduates earn more, on average, than college graduates provided that the GPA is high enough.
- iv. For a fixed value of IQ and GPA, college graduates earn more, on average, than high school graduates provided that the GPA is high enough.

`Salary = 50 + 20(GPA) + 0.07(IQ) + 35(Level) + 0.01(GPA * IQ) - 10(GPA * Level)`

Since IQ and GPA is fixed in this comparison, we can remove `20(GPA)`,  `0.07(IQ)`, and `0.01(GPA * IQ)`:

`Salary = 50 + 35(Level) - 10(GPA * Level)`

=> High School (Level 0): `Salary = 50` 

=> College (Level 1): `Salary = 50 + 35 - 10(GPA) = 85 - 10(GPA)`

Assuming a 4.0 GPA, the college graduate would have a Salary of `85 - 10(4) = 85 - 40 = 45`, less than the high school graduate.

Hence the correct answer is (iii).

### (b) Predict the salary of a college graduate with IQ of 110 and a GPA of 4.0.

`Salary = 50 + 20(GPA) + 0.07(IQ) + 35(Level) + 0.01(GPA * IQ) - 10(GPA * Level)`

=> College (Level 1): `Salary = 50 + 20(4) + 0.07(110) + 35 + 0.01(4 * 110) - 10(4) = 137.1`

### (c) True or false: Since the coefficient for the GPA/IQ interaction term is very small, there is very little evidence of an interaction effect. Justify your answer.

False, statistical significance of a coefficient is not determined by its magnitude but by its p-value.

## 3. ISLR 3.7.5 - Extra Practice

Consider the fitted values that result from performing linear regression without an intercept. In this setting, the ith fitted value takes the form

`ˆy_i = x_i * ˆβ`,

where

`ˆβ = ( n∑i=1 x_i * y_i ) / ( n∑i′=1 x_i′^2 )`. 

Show that we can write

`ˆy_i = n∑i′=1 a_i′ * y_i′`.

What is a_i′ ?

> Note: We interpret this result by saying that the fitted values from linear regression are linear combinations of the response values.

For clarity, let's rewrite `ˆβ` with different index variables:

`ˆβ = ( n∑i′=1 x_i′ * y_i′ ) / ( n∑k=1 x_k^2 )`. 

Substituting the expression for `ˆβ` into the equation for `ˆy_i`, we get:

`ˆy_i = x_i * ( n∑i′=1 x_i′ * y_i′ ) / ( n∑k=1 x_k^2 )` 

Distributing `x_i` into the summation gives:

`ˆy_i =  ( n∑i′=1 x_i′ * x_i * y_i′ ) / ( n∑k=1 x_k^2 )` 

And distributing `1 / ( n∑k=1 x_k^2 )` into the summation gives:

=> `ˆy_i =  n∑i′=1 [(x_i′ * x_i) / ( n∑k=1 x_k^2 )] * y_i′` 

This turns into 

`ˆy_i = n∑i′=1 a_i′ * y_i′`

given that

`a_i′ = (x_i′ * x_i) / ( n∑k=1 x_k^2 )`

## References and Citations

- https://anaconda.org/silvertrix/bootstrapped